@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	overflow: hidden;
	margin: 0;
}

body {
	background-color: white;
	font-family: "Roboto", sans-serif;
	margin: 0;
}

.content {
	background-image: url(assets/pexels-cesar-perez-733745.jpg);
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	color: white;
}

nav {
	background: #5d4954;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 8vh;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 2rem;
	min-width: 155px;
	gap: 0.5rem;
}
.header-list {
	display: flex;
	justify-content: space-between;
	width: 75%;
}

nav ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	width: 65%;
}
nav ul li a {
	text-decoration: none;
	color: white;
}

.burger{
    display: none;
}
.burger div {
	width: 25px;
	height: 3px;
	margin-top: 5px;
    background-color: blanchedalmond;
}

@media screen and (max-width: 1024px) {
	nav {
		padding: 0 5px;
    }
    .logo{
        font-size: 1.75rem;
    }
	nav ul {
		font-size: 80%;
	}
}

@media screen and (max-width: 768px) {
	.logo {
		font-size: 1.5rem;
	}

    .burger{
        display: block;
    }
	nav ul {
		background:#5d4954;
		position: absolute;
		height: 50vh;
		width: 30vw;
        right: 0;
        padding-top: 1rem;
		top: 8vh;
        align-items: center;
		justify-content: space-between;
		flex-direction: column;
		/* transform: translateX(30vw); */
    }
    nav ul li{
        flex-grow: 1;
    }

    nav{
        padding-left: 2rem;
        padding-right: 2.5rem;
    }
}

@media screen and (max-width: 2000px) {
	*{
		display: none;
	}
	}

